body {
   background: #171717;
    font-size: 1em;
    line-height: 1em;
    font-family: Monaco, courier;
}

.container {
  color: white;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
    position: relative;
    display: inline-block;
}


.container::after {
  content: "";
  position: relative;
  top: -.1em;
  right: -.5em;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 24px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* unvisited link */
a:link {
    color: inherit;
    text-decoration: inherit;
}

/* visited link */
a:visited {
    color: inherit;
    text-decoration: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
    text-decoration: inherit;
}

/* selected link */
a:active {
    color: inherit;
    text-decoration: inherit;
}